# Visual Studio
bin/Debug/MipsEmulator.exe
bin/Debug/MipsEmulator.pdb
obj/Debug/MipsEmulator.csproj.GenerateResource.cache
obj/Debug/MipsEmulator.csprojAssemblyReference.cache
obj/Debug/MipsEmulator.exe
obj/Debug/MipsEmulator.pdb

# Log files
*.logdebug.log
